#div1{ width:auto; height:100%;}

	#cont{ width:100%; max-width:1100px; height:auto; overflow:hidden; margin:0px auto; padding-top:10px;}
	
		.cn1{ width: 100%; max-width:1100px; height:auto; overflow:hidden; padding-bottom:10px;}
		.cn1 .news{ float:left; width:810px; height:237px;}
		     .news .title{ height:67px;}
			 .news .listcont{ height:170px;}
			 .news .listcont dt{ float:left; width:260px; height:170px; padding-right:10px;}
			 .news .listcont dd{  margin-right:60px; height:24px; line-height:24px; background:url(../images/student/dian_2.png) no-repeat left center; text-indent:7px;}
			 .news .listcont dd span{ float:right; padding-right:15px;}
			 
			 .principal{ float:right; width:258px; height:233px; padding:0px 10px 10px 10px; background:#ebebeb;}
			 .principal .title{ height:48px;}
			 .principal .text{ width:238px; height:174px; padding:10px 10px 0px 10px; background:#fff; line-height:21px; overflow:hidden;}
			 .principal .text img{ float:left; margin: 0px 12px 12px 0px;}
			 
			 /*感言*/
			 .speech{ float:left; width:810px; height:267px;}
			 .speech li{ float:left; width:256px; height:auto; overflow:hidden; line-height:24px; background:url(../images/student/cn1_3.png) no-repeat left top; margin-right:20px;} 
			 .speech .mr0{ margin-right:0;}
			 .speech li .img{ float:left; width:75px; height:89px; padding:1px 8px 7px 2px; margin:0px 12px 0px 0px;}
			 .speech li span{ float:left; width:148px; height:40px; line-height:18px;}
			 .speech li span b{ color:#333;}
			 .speech .title{ height:67px;}
			 .speech .listcont{ height:200px;}
			 .speech .listcont a{ color:#0033FF; text-decoration:none;}
			 
			 /*服务*/
			 .service{ float:right; width:258px; height:300px; padding:0px 10px 10px 10px; background:#ebebeb;}
			 .service .title{ height:48px;}
			 .service .listcont{ height:242px; padding:5px 0px 5px 0px; background:#fff;}
			 .service li{ float:left; width:69px; height:83px; padding-left:11px;}
			 .service li a{ display:block; width:67px; height:24px; padding-top:50px; text-align:center; line-height:24px;}
				 .s1{ background:url(../images/student/cn1_4.png) no-repeat 0px -4px;}
				 .s2{ background:url(../images/student/cn1_4.png) no-repeat 0px -233px;}
				 .s3{ background:url(../images/student/cn1_4.png) no-repeat 0px -456px;}
				 .s4{ background:url(../images/student/cn1_4.png) no-repeat 0px -79px;}
				 .s5{ background:url(../images/student/cn1_4.png) no-repeat 0px -305px;}
				 .s6{ background:url(../images/student/cn1_4.png) no-repeat 0px -529px;}
				 .s7{ background:url(../images/student/cn1_4.png) no-repeat 0px -155px;}
				 .s8{ background:url(../images/student/cn1_4.png) no-repeat 0px -380px;}
				 .s9{ background:url(../images/student/cn1_4.png) no-repeat 0px -600px;}
			 
			 /*风采*/
			 .life{ width:100%; max-width:1100px; height:auto; overflow:hidden; padding-bottom:10px;}
			 .life .title{ width: 100%; max-width: 278px; height:auto; overflow:hidden; line-height:24px;}
			 .life .title p{ clear:both; text-indent:2em; padding-top:5px;}
			 .life .title .more{ display:block; float:right; color:#0033CC;}
			 .life .listimg{ width: 100%; max-width:810px; height:auto; overflow:hidden;}
			 .life .listimg li{float: left; width: 100%; max-width: 187px; height:150px; padding-bottom:10px; padding-right:20px;}
			 .life .listimg .pr0{ padding-right:0;}
			 
			 .life .listimg li a{ display:block; height:140px; padding-top:6px; background:#f2f2f2; text-align:center; line-height:18px; }
			 .life .listimg li a img{ display:block; margin:0 auto;}
			 
			 .life .listimg div{ height:30px; clear:both; padding-left:10px;}
			 .life .listimg div a{ color:#0033FF;}
			 /**/
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 